<!DOCTYPE html>
<html lang="en">

<head>
    <title>News From Source</title>

    <style>
        /* CSS styles */
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 50px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
        }

        li {
            list-style: none;
            margin-bottom: 20px;
            padding: 20px;
            border-radius: 5px;
            background-color: #f8f8f8;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }



        a {
            text-decoration: none;
            color: #007bff;
        }

        a:hover {
            text-decoration: underline;
        }

      
    </style>


</head>

<body>

    <div class="container">
        <h1>News from <%= sourceId %>
        </h1>


        <ul>
            <% articles.forEach(article=> { %>
                <li>
                    <h2>
                        <%= article.title %>
                    </h2>
                    <p>
                        <%= article.description %>
                    </p>
                    <% if (article.author !==null) { %>
                        <p><strong>Author:</strong>
                            <%= article.author %>
                        </p>
                        <% } else { %>
                            <p><strong>Author:</strong> Unknown</p>
                            <% } %>
                                <p><strong>Published:</strong>
                                    <%= new Date(article.publishedAt).toLocaleDateString() %>
                                </p>
                                <p><a href="<%= article.url %>" target="_blank">Read more</a></p>
                </li>
                <% }); %>
        </ul>
        <a href="/sources">Back</a>
    </div>

</body>

</html>